.success-notification {
  border: solid 2px green;
  padding: 15px;
  width: 100%;
}

.error-notification {
  border: solid 2px red;
  padding: 15px;
  width: 100%;
}

.single-blog-container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px;
  margin-bottom: 1rem;
}
